body{
  background-color: #0389ae;

  background-image: url('./images/DJI_0205.JPG');
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
}

* { margin: 0; padding: 0; }


iframe{
  border-radius: 1.2rem;
}

.container{
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

.container h1{
  color: white;
  margin-top: 3.2rem;
}

.container img{
  width: 85%;
  margin: 0 auto;
  justify-content: center;
  margin-top: 3.2rem;
}

.servicos{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  padding: 1.6rem;

  margin-top: 1.2rem;
}

.servicos img{
  width: 100%;
  padding: 0;
  margin: 0;
}
ul{
  /* list-style: none; */
  padding: 1.6rem;
}

#luana{
  width: 75%;
}
.top{
  display: flex;
  flex-direction: column;
  gap: 0;
}
.video{
  background-color: white;
  height: 19.0rem;
  width: 33.0rem;
  margin: 0 auto;
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contato button{
  position: relative;
 
  justify-content: center;
  align-items: center;
  margin-top: 2.2rem;
  width: 24.0rem;
  height: 4.0rem;
  border-radius: 3.2rem;
  border: none;

  
  background-color: #00dd2d;
  color: white;

  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.315);
}

.contato button:hover{
  background-color: #00b825;
  cursor: pointer;
}


footer{
  color: white;
  margin-top: 3.2rem;
}

footer p {
  font-size: 13px;
  font-weight: 100;
}

.content{
  height: 25.0rem;
  width: 40.0rem;
  /* border-radius: 2.0rem; */
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  
}

h1{
  text-align: center;
}

#onde{
  margin-top: 8.0rem;
}



/* TEXTO */


.txt{
  color: white;
  max-width: 90%;
  margin: 0 auto;
  text-align: start;
}